<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thf.dao.ModuleDAO">
    <select id="searchBymId" resultMap="moduleMap">
        select
        *
        from
        module
        where
        m_id =#{mid}
    </select>

    <resultMap id="moduleMap" type="Module">
        <id column="m_id" property="mid"/>
        <result column="m_name" property="mname"/>
        <result column="m_des" property="mdes"/>
        <result column="m_status" property="mstatus"/>
        <result column="m_progress" property="mprogress"/>
        <result column="m_start_time" property="mstartTime"/>
        <result column="p_id" property="pid"/>
        <result column="m_end_time" property="mendTime"/>
        <result column="m_act_time" property="mactTime"/>
        <result column="m_create_time" property="mcreateTime"/>
        <result column="m_create_user" property="mcreateUser"/>
<!--        <collection property="functionList" ofType="Function" select="com.thf.dao.FunctionDAO.searchAll" column="m_id">-->
<!--        </collection>-->
    </resultMap>
    <select id="searchAllModule" parameterType="java.util.List" resultMap="moduleMap">
        select * from module where p_id=#{pid}
    </select>
    <insert id="insert"  useGeneratedKeys="true" keyProperty="mid">
        insert into module(m_create_user,
        <if test="mcreateTime != null and mcreateTime != ''">
            m_create_time,
        </if>
        <if test="mname != null and mname != ''">
            m_name,
        </if>
        <if test="mdes != null and mdes != ''">
            m_des,
        </if>
        <if test="mstatus != null and mstatus != ''">
            m_status,
        </if>
        <if test="mprogress != null and mprogress != ''">
            m_progress,
        </if>
        <if test="mstartTime != null and mstartTime != ''">
            m_start_time,
        </if>
        <if test="mendTime != null and mendTime != ''">
            m_end_time,
        </if>
            p_id)
        values(#{mcreateUser},
        <if test="mcreateTime != null and mcreateTime != ''">
            #{mcreateTime},
        </if>
        <if test="mname != null and mname != ''">
            #{mname},
        </if>
        <if test="mdes != null and mdes != ''">
            #{mdes},
        </if>
        <if test="mstatus != null and mstatus != ''">
            #{mstatus},
        </if>
        <if test="mprogress != null and mprogress != ''">
            #{mprogress},
        </if>
        <if test="mstartTime != null and mstartTime != ''">
            #{mstartTime},
        </if>
        <if test="mendTime != null and mendTime != ''">
            #{mendTime},
        </if>
        #{pid})
    </insert>

    <update id="update">
        UPDATE module
        <set>
            <if test="mname != null and mname != ''">
                m_name=#{mname},
            </if>
            <if test="mdes != null and mdes != ''">
                m_des=#{mdes},
            </if>
            <if test="mstatus != null and mstatus != ''">
                m_status=#{mstatus},
            </if>
            <if test="mprogress != null and mprogress != '' and mprogress != 0">
                m_progress=#{mprogress},
            </if>
            <if test="mstartTime != null and mstartTime != ''">
                m_start_time=#{mstartTime},
            </if>
            <if test="mendTime != null and mendTime != ''">
                m_end_time=#{mendTime}
            </if>
        </set>
        where
        m_id=#{mid}
    </update>

    <delete id="delete">
        DELETE from module
        where m_id=#{mid}
    </delete>
    <select id="searchAll">
        select * from module
        where p_id=#{pid}
    </select>
</mapper>