<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thf.dao.ProjectDAO">
    <insert id="insertProject" useGeneratedKeys="true" keyProperty="projectId">
        insert into project(
        <if test="describe != null and describe != ''">
            `describe`,
        </if>
        <if test="relateUser != null and relateUser != ''">
            relate_user,
        </if>
        <if test="startTime != null and startTime != ''">
            start_time,
        </if>
        <if test="endTime != null and endTime != ''">
            end_time,
        </if>
        create_user,create_time,project_name) values(
        #{describe},
        <if test="relateUser != null and relateUser != ''">
            #{relateUser},
        </if>
        <if test="startTime != null and startTime != ''">
            #{startTime},
        </if>
        <if test="endTime != null and endTime != ''">
            #{endTime},
        </if>
        #{createUser},#{createTime},#{projectName})
    </insert>
    <resultMap type="Project" id="projectMap">
        <id column="project_id" property="projectId"/>
        <result column="project_name" property="projectName"/>
        <result column="describe" property="describe"/>
        <result column="project_status" property="projectStatus"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="relate_user" property="relateUser"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="progress" property="progress"/>
        <collection property="moduleList" ofType="Module" select="com.thf.dao.ModuleDAO.searchAll" column="project_id">
        </collection>
    </resultMap>

    <select id="getModuleAll" resultMap="projectMap">
        select * from module where p_id=#{projectId}
    </select>
    <update id="updateProject">
        update project
        <set>
            <if test="projectName != null and projectName != ''">
                project_name=#{projectName},
            </if>
            <if test="describe != null and describe != ''">
                `describe`=#{describe},
            </if>
            <if test="projectStatus != null and projectStatus != ''">
                project_status=#{projectStatus},
            </if>
            <if test="relateUser != null and relateUser != ''">
                relate_user=#{relateUser},
            </if>
            <if test="startTime != null and startTime != ''">
                start_time=#{startTime},
            </if>
            <if test="endTime != null and endTime != ''">
                end_time=#{endTime},
            </if>
            <if test="progress != null and progress != ''">
                progress=#{progress}
            </if>
        </set>
        where project_id=#{projectId}
    </update>

    <select id="searchById" resultMap="projectMap">
        select
        *
        from project
        where project_id=#{projectId}
    </select>

</mapper>