<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thf.dao.UserDAO">
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="userId">
        insert into users(
        <if test="phone != null and phone != ''">
            phone,
        </if>
        <if test="email != null and email != ''">
            email,
        </if>
        password,register_time) values(
        <if test="phone != null and phone != ''">
            #{phone},
        </if>
        <if test="email != null and email != ''">
            #{email},
        </if>
        #{password},#{registerTime})
    </insert>

    <resultMap type="User" id="userMap">
        <id column="user_id" property="userId"/>
        <result column="user_type" property="userType"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="user_intro" property="userIntro"/>
        <result column="register_time" property="registerTime"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="address" property="address"/>
        <result column="user_img" property="userImg"/>
        <result column="gender" property="gender"/>
        <result column="career" property="career"/>
    </resultMap>

    <select id="searchEmail" resultMap="userMap">
        select
        *
        from users
        where
        email = #{email}
        <!--        <where>-->
        <!--        <if test="email != null and email!=''">-->
        <!--            email=#{email}-->
        <!--        </if>-->
        <!--        <if test="phone != null and phone!=''">-->
        <!--           and phone=#{phone}-->
        <!--        </if>-->
        <!--        </where>-->
    </select>
    <select id="searchPhone" resultMap="userMap">
        select
        *
        from users
        where
        phone = #{phone}
    </select>
    <update id="updateUsers">
        update users
        <set>
            <if test="username != null and username!=''">
                username=#{username},
            </if>
            <if test="userIntro != null and userIntro!=''">
                user_intro=#{userIntro},
            </if>
            <if test="address != null and address !=''">
                address=#{address},
            </if>
            <if test="gender != null and gender !=''">
                gender=#{gender},
            </if>
            <if test="career != null and career !=''">
                career=#{career}
            </if>
        </set>
        where
        user_id = #{userId}
    </update>
    <update id="resetPassword">
        UPDATE users
        SET password=#{password}
        WHERE
        user_id=#{userId};
    </update>

    <select id="searchById" resultMap="userMap">
        select
        *
        from users
        where
        user_id = #{userId}
    </select>
    <update id="resetContact">
        UPDATE users
        <set>
            <if test="email != null and email!=''">
                email=#{email},
            </if>
            <if test="phone != null and phone!=''">
                and phone=#{phone}
            </if>
        </set>

        WHERE
        user_id=#{userId}
    </update>
    <select id="searchEmailAndPhone" resultMap="userMap">
        select
        *
        from users
        where
        email = #{key}
        OR
        phone = #{key}
    </select>
</mapper>